{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "comma-dangle": "off",
    "no-var": "warn",
    "semi": "warn",
    "no-unused-vars": "off",
    "quotes": ["warn", "single", { "avoidEscape": true }],
    "prefer-const": "off",
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 2,
        "semi": true
      }
    ]
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
